// Flexbox settings, Images, fonts

@mixin flexy($disp: flex, $just: null, $wrap: null, $dir: null, $align: null) {
    display: $disp;
    justify-content: $just;
    flex-wrap: $wrap;
    flex-direction: $dir;
    align-items: $align; 
}

@mixin font-style($color-font: $principal-color-font, $family-font: $f-family, $weight-font: $f-weight, $f-size: null, $l-spacing: null, $l-height: null) {
    font-family: $family-font;
    font-weight: $weight-font;
    font-size: $f-size;
    letter-spacing: $l-spacing;
    line-height:  $l-height;
    color: $color-font;
}

// FOR IMAGES ON CARROUSEL DEPEND OF HIS TYPE.
@mixin images-carrousel($type: 'small', $w: 214px, $h: 123.69px) {
    @if($type == 'big'){
        img {
            margin-right: 5px;
        }    
    }
    @else if($type == 'small') {
        img {
            height: $h;
            width: $w;
            margin-right: 5px;
        }
    }
}

// FOR ALL BASE CARROUSEL STRUCTURE
@mixin carrousel-simple() {
    & div {
        @include flexy();
        overflow-x: scroll;
        @content;
    }
}

// ONLY USES ON SECOND CARROUSEL - CONTINUE WATCHING SECTION
@mixin carrousel-progess() {
    & div {
        overflow-x: initial;
        @include flexy($align: center, $dir:column);
        & .progress-bar {
            margin-top: 1.31px;
            margin-right: 9px;
            @include flexy($just: flex-start);
            & .gray-progress {
                height: 4px;
                width: 132px;
                background-color: #606060;
                
                & .red-progress {
                    align-self: flex-start;
                    margin-left: 0;
                    height: 4px;
                    width: 39px;
                    background-color: #B3212C;
                }
            }
        }
        @content;
    }
}
