// Buttons:
.buttons-header {
    
    @include flexy($just: space-between);
    margin-top: 21px;
    width: 295px;
    & button {
        @include flexy($disp: inline-flex, $align: center);
        // border: 1px solid red;
        height: 41px;
        // width: 100%;
        border-radius: 3px;
        background-color: rgba(51,51,51,0.4);
        border: none;
        & img {
            padding-right: 11px;
            padding-left: 29px;
            padding-bottom: 11px;
        }
        & .defauly-icon {
            display: inline-block;
        }
        & .hover-icon {
            display: none;
        }
    }
    & button:hover {
        background-color: #E6E6E6;
        & p {
            color: #000000;
        }
        & .default-icon {
            display: none;
        }
        & .hover-icon {
            display: inline-block;
        }

    }
    & button:first-child{ //first child
        flex: 0 129px;
        & p {
            margin-top: 10px;
        }
    }
    & button:last-child { //second child
        flex: 0 154px;
        padding-top: 2px;
        & p {
            font-weight: bold;
            margin-top: 10px;
        }
        & img {
            padding-left: 30px;
        }
    }
}
