.container {
    width: 1382px;
    margin-left: auto;
}
.title-header-image {
    // colocar la imagen hacia abajo
   margin-top: 186.69px;
   & img {
    margin-left: 3px;
   }
}
.serie-description-header {
    margin-top: 17px;
    //   margin-left: 2px;
    
}
.age-film {
    @include flexy($align: center);
    margin-left: 1287px;
    margin-top: -34px;
    .rectangle-side {
        height: 32px;
        width: 3px;
        background-color: white;
    } 
    .rectangle {
        height: 32px;
        width: 95px;
        background-color: #252928;
    }
}

.search-nav {
    width: 100%;
    padding-right: 59px;

    @include flexy($just: flex-end);

    & #input-search {
        background-image: url(../../images/lupa.png);
        background-repeat: no-repeat;
        background-position: 2% center;
        background-color: transparent;
        border: none;
        height: 30px;
        width:0px;
        padding-left: 21px;
        margin-top: 2.5%;
        
        // transition: width 3s cubic-bezier(0.11, 0.18, 0, 1.13) 0s; 
        // -webkit-transition: width 3s cubic-bezier(0.11, 0.18, 0, 1.13) 0s;
        transition: width 3s cubic-bezier(0.11, 0.18, 0, 1.49) 0s;
        -webkit-transition: width 3s cubic-bezier(0.11, 0.18, 0, 1.49) 0s;
    }
    & #input-search:focus {
        width: 230px;
        padding-left: 36px;
        background-color: #1D1C1D;
        outline: none;  
    }     
    & #input-search:focus:hover {  
        border: 1px solid #DDDDDD;
    }
}
.carrousel-1.type-1 {
    margin-top: 86px;
    margin-bottom: 60px;
    @include carrousel-simple() {
        @include images-carrousel($type: 'big');
    }   
}
.carrousel-1.type-1 a {
    margin-right: 5px;
    position: relative;
    @include information-hover();
}
.carrousel-1.type-1 a:hover   {
    position: relative;
    & img {
        opacity: 0.6;
    }
    & .information-hover {
        display: block; 
    }   
}
.carrousel-2.type-2 {
    margin-bottom: 41px;
    @include carrousel-simple() {
        @include images-carrousel($w: 217px, $h: 121.69px);
        & .carrousel-2-container {
            margin-left: 1px;
            margin-right: 5px;
            @include flexy($dir:column, $align: center);
            overflow: initial;
            & .w3-grey {
                width: 59.6%;
                height: 4px;
                margin-top: 6px;
                & .w3-red {
                    width: 29%;
                    height: 4px;
                }
            }
        }
    }
}
.carrousel-2.type-2 a {
    @include information-hover($type: 'small');
    position: relative;
    & .button-add {
        position: absolute;
        top: 5%;
        left: 90%;
        // box-sizing: border-box;
        // @include flexy($just: center);
        height: 14.5px;
        width: 14.5px;
        border-radius: 50%;
        background: transparent;
        border: 0.5px solid #FFFFFF;
        & img {
            height: 9px;
            width: 9px;
        }
        display: none;
    }
    
}
.carrousel-2.type-2 a:hover {
    position: relative;
    & img {
        opacity: 0.6;
    }
    & .button-add {
        // display: block;
        @include flexy($just: center);
    }
    & .information-hover {
        display: block; 
    }   
}
.carrousel-1.type-2 {
    margin-bottom: 48px;
    @include carrousel-simple() {
        margin-left: 2px;
        & a {
            margin-right: 5px;
        }
        @include images-carrousel($w: 216px);
    }
}

.main-footer {
    margin-top: 141px;
    margin-left: 171px;
    height: 246px;
    width: 849px;

    & .social-links {
        @include flexy($just: space-between);
        margin-bottom: 13px;
        width: 201px;
        & li:first-child {
            flex-basis: 33px;
        }
        & li:nth-of-type(2) {
            flex-basis: 34px;
        }
        & li:last-child {
            flex-basis: 47px;
        }
    }
    & .sections-links {
        margin-bottom: 65px;
        @include flexy($just: space-between);
        width: 849px;

        & ul  {
            @include flexy($dir: column);
            width: 114px;
            & li {
                margin-bottom: 13px; 
            }
        }
        & ul:nth-of-type(2) {
            width: 111px;
        }
        & ul:nth-of-type(3) {
            width: 110px;
        }
    }
}

// DETAIL PAGE

.container-detail {
    position: relative;
    @include flexy();
    width: 100%; 
    height: 700px;
    & .play-button {
        position: absolute;
        top: 72px;
        left: 45px;
        width: 60px;
        height: 60;
        @include flexy();
        & .oval {
            @include flexy($just: center, $align: center);
            border-radius: 50%;
            box-sizing: border-box;
            height: 54px;
            width: 54px;
            border: 6px solid #DADADA;
            & .line {
                border:  solid white;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding:  3px;
            }
            & .left {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            } 
        }
    }
}

// SEARCH PAGE


.search-header {
    margin-bottom: 76px;
}
.search-nav-2 {
    width: 100%;
    padding-right: 59px;

    @include flexy($just: flex-end);

    & #input-search {
        background-image: url(../../images/lupa.png);
        background-repeat: no-repeat;
        background-position: 2% center;
        background-color: transparent;
        border: none;
        height: 30px;
        margin-top: 2.5%;
        width: 230px;
        padding-left: 36px;
        border: 1px solid #DDDDDD;
        outline: none;
    }
}
.carrousel-1.type-3 {
    @include carrousel-simple() {
        @include images-carrousel($w: 216px, $h: 121.69px);
        & a {
            margin-right: 5px;
        }    
    }
}
.carrousel-1.type-3.m-43 {
    margin-bottom: 51px;
}
.carrousel-1.type-3.m-48 {
    margin-bottom: 55px;  
}
.carrousel-1.type-3.m-47 {
    margin-bottom: 55px;
}
.carrousel-1.type-3:first-child {
    margin-left: 4px;
}
.carrousel-1.type-3 {
    margin-left: 3px;
}
.carrousel-1.type-3:nth-child(1n+6) {
    margin-left: 0;
}
.carrousel-1.type-3:last-child {
    margin-top: -2px;
}   