.container {
    width: 1382px;
    margin-left: auto;
}
.title-header-image {
    // colocar la imagen hacia abajo
   margin-top: 186.69px;
   & img {
    margin-left: 3px;
   }
}
.age-film {
    @include flexy($align: center);
    margin-left: 1287px;
    margin-top: -34px;
    .rectangle-side {
        height: 32px;
        width: 3px;
        background-color: white;
    } 
    .rectangle {
        height: 32px;
        width: 95px;
        background-color: #252928;
    }
}
.search {
    display: none;
    & input {
        width: 268px;
        height: 34px;
        border: 1px solid #DDDDDD;
        background-color: #1D1C1D;

    }
    & img {
        margin: 0;
    }
}
.netflix-originals {
    margin-top: 86px;
    & div {
        @include flexy();
        overflow-x: scroll;
        & img {
            margin-right: 5px;
        }
    }
}