.container {
    width: 1382px;
    margin-left: auto;
}
.title-header-image {
    // colocar la imagen hacia abajo
   margin-top: 186.69px;
   & img {
    margin-left: 3px;
   }
}
.age-film {
    @include flexy($align: center);
    margin-left: 1287px;
    margin-top: -34px;
    .rectangle-side {
        height: 32px;
        width: 3px;
        background-color: white;
    } 
    .rectangle {
        height: 32px;
        width: 95px;
        background-color: #252928;
    }
}
.search {
    display: none;
    & input {
        width: 268px;
        height: 34px;
        border: 1px solid #DDDDDD;
        background-color: #1D1C1D;

    }
    & img {
        margin: 0;
    }
}
.carrousel-1.type-1 {
    margin-top: 86px;
    margin-bottom: 63px;
    @include carrousel-simple() {
        @include images-carrousel($type: 'big');
    }   
}
.carrousel-2.type-2 {
    // margin-top: 63px;
    margin-bottom: 43px;
    @include carrousel-simple() {
        margin-left: 2px;
        @include carrousel-progess() {
            @include images-carrousel();
        }
    }
}
.carrousel-1.type-2 {
    // margin-top: 44px;
    margin-bottom: 52px;
    @include carrousel-simple() {
        margin-left: 2px;
        @include images-carrousel($w: 216px);
    }
}

.main-footer {
    margin-top: 145px;
    margin-left: 171px;
    height: 246px;
    width: 849px;

    & .social-links {
        @include flexy($just: space-between);
        // margin-left: 1px;
        margin-bottom: 15px;
        width: 201px;
        & li:first-child {
            flex-basis: 33px;
        }
        & li:nth-of-type(2) {
            flex-basis: 34px;
        }
        & li:last-child {
            flex-basis: 47px;
        }
    }
    & .sections-links {
        margin-bottom: 64px;
        @include flexy($just: space-between);
        width: 849px;

        & ul  {
            @include flexy($dir: column);
            width: 114px;
            & li {
                margin-bottom: 15px; 
            }
        }
        & ul:nth-of-type(2) {
            width: 111px;
        }
        & ul:nth-of-type(3) {
            width: 110px;
        }
    }
}