// Navigation:

nav {
    @include flexy();
    height: 68px;
    & ul {
        @include flexy($align: center); 
        width: 1172px;
        margin-top: 3px;
        & li:first-of-type {
            margin-left: 7px;
            flex-basis: 60px;
        }

        & li {
            flex-basis: 107px;
        }
        
        & li:nth-of-type(2) {
            flex-basis: 84px;
        } 
        & li:nth-of-type(3) {
            flex-basis: 66px;
        }
        & li:nth-of-type(4) {
            flex-basis: 122px;
        }
        
    }
    & img {
        margin-right: 38px;
        margin-top: 22px;
    }
    & #lupa-icon {
        margin-top: 0;
    }
}