// Typography:

html {
    @include font-style($principal-color-font, $f-family);
}
nav {
    & ul {
        @include font-style($f-size: 14px, $l-spacing: 0.5px);
    }
    & a {
        text-decoration: none;
        color: $principal-color-font;
    }
    &  #logo-netflix{
        margin-left: 58px;
    }
}

.buttons-header {
    & p {
        @include font-style($f-size: 16px, $l-spacing: 0.2px, $l-height: 19px);
    }
}
.rectangle p {
    @include font-style($f-size: 16px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 19px);
    margin-left: 13px;
    margin-top: 9px;
}
.search input[placeholder] {
    @include font-style($color-font: $secondary-color-font, $f-size: 15px, $l-spacing: -0.2px, $l-height: 18px);
}
.carrousel-1,
.carrousel-2,
.carrousel-1.type-2 {
    & h2 {
        @include font-style($f-size: 20px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 24px);
        margin-bottom: 9px;
        margin-top: 0.4px;
    }
}
.information-hover {
    & p {
        @include font-style($color-font: $principal-color-font);
        
    }
    & .first {
        @include font-style($f-size: 16px, $l-spacing:1.2px, $l-height: 19px);    
        margin-top: 8px;
        margin-bottom: 8px;
    }
    & .resumee {
        & .second {
            @include font-style($f-size: 14px, $l-spacing: 0.3px, $l-height: 17px);
            margin: 0;
            width: 90px;
        }
        & #color {
            @include font-style($l-spacing: 0.4px);
            color:#46D36A;
            width: 100px;
        } 
        & div[class=resumee-numbers] {
            // border: 1px solid blueviolet;
            border: 1px solid rgba(255,255,255,0.41);
            height: 16px;
            width: 42px;
            margin-top: -1px;
            margin-right: 9px;
            & p {
                margin-left: 5px;
                // margin-top: -2px;
            }
        }   
    }
    & .third {
        @include font-style($f-size: 14px, $l-height: 18px);
        margin-top: 7px;
    }
}

// .carrousel-2 {
//     & h2 {
//         @include font-style($f-size: 20px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 24px);
//         margin-bottom: 10px;
//     }
// }
// .carrousel-1.type-2 {
//     & h2 {
//         @include font-style($f-size: 20px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 24px);
//         margin-bottom: 10px;
//     }

// }

.main-footer {
    & .sections-links {
        & a {
            text-decoration: none;
            @include font-style($f-size: 13px, $l-spacing: 0.25px, $l-height: 16px, $color-font: $secondary-color-font);
        }   
    }
    & p {
        @include font-style($f-size: 14px, $l-spacing: 0.11px, $l-height: 17px, $color-font: $secondary-color-font);
        margin-bottom: 34px;
    }    
}

// SEARCH PAGE

.search-2 {
    input {
        @include font-style($f-size: 15px, $color-font: $secondary-color-font, $l-spacing: -0.2px, $l-height: 18px);
    }
}
