// Typography:

html {
    @include font-style($principal-color-font, $f-family);
}
ul {
    @include font-style($f-size: 14px, $l-spacing: 0.5px);
}
// .serie-description-header {
//     margin-top: 2px;
//     margin-left: 2px;
    
// }
.buttons-header {
    & p {
        @include font-style($f-size: 16px, $l-spacing: 0.2px, $l-height: 19px);
    }
}
.rectangle p {
    @include font-style($f-size: 16px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 19px);
    margin-left: 13px;
    margin-top: 9px;
}
.search input[placeholder] {
    @include font-style($color-font: $secondary-color-font, $f-size: 15px, $l-spacing: -0.2px, $l-height: 18px);
}
.carrousel-1,
.carrousel-2,
.carrousel-1.type-2 {
    & h2 {
        @include font-style($f-size: 20px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 24px);
        margin-bottom: 9px;
        margin-top: 0.4px;
    }
}
// .carrousel-2 {
//     & h2 {
//         @include font-style($f-size: 20px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 24px);
//         margin-bottom: 10px;
//     }
// }
// .carrousel-1.type-2 {
//     & h2 {
//         @include font-style($f-size: 20px, $weight-font: bold, $l-spacing: 0.16px, $l-height: 24px);
//         margin-bottom: 10px;
//     }

// }

.main-footer {
    & .sections-links {
        & a {
            text-decoration: none;
            @include font-style($f-size: 13px, $l-spacing: 0.25px, $l-height: 16px, $color-font: $secondary-color-font);
        }   
    }
    & p {
        @include font-style($f-size: 14px, $l-spacing: 0.11px, $l-height: 17px, $color-font: $secondary-color-font);
        margin-bottom: 34px;
    }    
}
