// Typography:

html {
    color: white;
}
ul {
    // font-size: 0.90em;
    font-size: 14px;
    // font-weight: bold;
    letter-spacing: 0.5px;
    font-family: Helvetica;
}
.debug-header {
    margin-top: 20px;
}
