// the universal selector (*)
// ul elements
// p elements

html.debug {
    background: transparent url(/tmp/design-home.jpg) no-repeat top left;
    background-size: 100%;
    
    body {
        opacity: 0.7;
    }
}
.debug-header {
    & h2 {
        font-size: 23px;
        margin-bottom: 0;
    }
    & p{
        font-size: 20px;
        width: 471px;
        margin-top: 0;
    }
}